<p>upload-blog works!</p>
<div class="container p-5">
  <form class="row g-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Image Upload</label>
      <input (change)="onImageChangeFromFile($event)" type="file" formControlName="imageInput" class="form-control" >
      <div class="invalid-feedback">
        <div >JPG Image is required</div>
        
     </div>
    </div>
    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>