<div class="vh-100 bg-image"
style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div>
    <div class="card text-center" style="width: 465px; margin-left: 35%;margin-top: 10%;
    position: absolute;">
      <div class="card-header h5 text-white bg-primary">Password Reset</div>
      <div class="card-body px-5">
        <p class="card-text py-2">
          Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <form [formGroup]="forgetPassword">

          <div style="text-align: left;">
            <label class="form-label" for="typeEmail">Your Email</label>
            <input type="email" id="typeEmail" formControlName="email" class="form-control mb-3" />
          </div>
        </form>

        <a class="btn btn-primary w-100" (click)="resetLink()">Reset password</a>
        <div class="justify-content-between mt-4">
          <a class="" routerLink="/" style="padding: 20px;">Login</a>
          <a class="" routerLink="/registerartion">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
