<!--Main Navigation-->
<header>
  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" style="font-size: 2rem;">
        Blogs
        <!-- <imgs -->
      </a>
      <!-- Search form -->
      <form class="d-none d-md-flex input-group w-auto my-auto">
        <input autocomplete="off" type="search" class="form-control" placeholder='Search Blog'
          style="min-width: 225px; height: 28px;font-size: medium;" [(ngModel)]="searchBlog"/>
        <span class="input-group-text border-0" style="cursor: pointer;background: #c7c2c2;
        height: 28px;"><i class="fas fa-search"></i></span>
      </form>

      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" id="navbarDropdownMenuLink" role="button"
            data-mdb-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger">2</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item">New Update</a></li>
            <li><a class="dropdown-item"> news</a></li>
            <li>
              <a class="dropdown-item">Something else here</a>
            </li>
          </ul>
        </li>


        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" id="navbarDropdownMenuLink"
            role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22" alt=""
              loading="lazy" />
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/profile">My profile</a></li>
            <li>
              <a class="dropdown-item" routerLink="/upload-blog">Upload Blog</a>
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            <li><a class="dropdown-item" (click)="deleteUser()"> Delete Account</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->


<section class="mt-5">
  <header class="main_header">
    <div class="d-flex justify-content-center align-items-center flex-column py-5">
      <!-- <h1 class="text-uppercase main_heading">Thapa Technical</h1> -->
      <p class="main_heading__para">Welcome to  <span class="text-capitalize bg-dark text-white py-2 px-3">
          world of blog</span> </p>
    </div>
    <!-- //the main image -->
    <div class="main_header__div d-flex align-items-start
  justify-content-center  flex-column shadow pl-5">
      <!-- <p>Thapa Technical</p> -->
      <!-- <h2 class="text-uppercase">the Progammer guy</h2> -->
      <h2 class="animateWord">
        <span>Are you </span>
        <div>
          <!--        Use classes 2,3, or 4 to match the number of words -->
          <ul class="flip4">
            <li> a Progammer </li>
            <li> a Youtuber</li>
            <li> a Freelancer</li>
            <!-- <li> Awesome </li> -->
          </ul>
        </div>
      </h2>
      <marquee behavior="" direction=""  style="color: aqua;">{{Daily_qoutes}}</marquee>
      <button class="text-uppercase">subscribe</button>
    </div>
  </header>
</section>

<div class="container-fluid ">
  <div class="row ">
    <!-- to get the space form left and right -->
    <div class="col-xl-10  col-lg-10 col-md-12 col-11 mx-auto my-5">
      <div class="row gx-5 mx-sm-auto">
        <!-- left side of the blog  -->
        <div class="col-lg-8 col-md-11 col-11 mx-auto">
          <div class="row gy-5 ">
            <div class="col-12 card p-4 shadow blog_left__div" *ngFor="let user of dataa | filter:searchBlog">
              <div class="d-flex justify-content-center align-items-center flex-column pt-3 pb-5 ">
                <h1 class="text-uppercase">{{user.blog_tittle}}</h1>
                <p class="blog_title"> <span class="font-weight-bold">{{user.blog_category}}</span>
                  {{user.created_on_date | date: 'MMM-dd-yyyy'}} </p>
              </div>
              <figure class="right_side_img mb-5">
                <img style="width: 100%;" src="{{user.blog_img}}">
              </figure>
              <p>{{user.blog_content}}</p>
              <div class="d-flex justify-content-between left_div_btns">
                <div>
                  <button class="left_div__like" id="like_btn"><i class="fa fa-thumbs-up"></i>Like</button>
                </div>
                <div>
                  <!-- <button class="left_div__reply" onclick="reply('reply1')">Replies <badge
                      class="bg-white text-dark p-2">1</badge></button> -->
                </div>
              </div>

            </div>

          </div>
        </div>
        <!--  *******************************************************
      **********************************************************.
      right side of the div
      *******************************************************
      **********************************************************
      -->
        <div class="col-lg-3 col-md-7 col-11  justify-content-end m-lg-0 m-auto ">
          <div class="row gy-5 left_div__blog">
            <!-- about me -->
            <!-- <div class="col-12  about_me_div shadow">
              <p>Vinod Thapa</p>
              <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love
                and a interest of lorem ipsum and mauris neque quam blog. I want to share my world
                with you.</p>
            </div> -->
            <!-- popular post -->
            <div class=" popular_post ">
              <div class="right_div__title py-4 pl-2 ">
                <h2>Popular Posts</h2>
              </div>
              <div class="right_sub__div shadow">
                <div class="row ">
                  <div class="col-3 " style="background-image: url('assets/bg.png'); background-size: var(--bg-size);">
                  </div>
                  <div class="col-9">
                    <h3>Bill Gates</h3>
                    <p class="text-capitalize">CEO Microsoft</p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-3 "
                    style="background-image: url('../assets/mz.jpg'); background-size: var(--bg-size);">
                  </div>
                  <div class="col-9">
                    <h3>Mark Zuckerberg </h3>
                    <p class="text-capitalize">Programmer</p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-3 "
                    style="background-image: url('../assets/zb.jpg'); background-size: var(--bg-size);">
                  </div>
                  <div class="col-9">
                    <h3>Jeff Bezos</h3>
                    <p class="text-capitalize">Amazon</p>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-3"
                    style="background-image: url('../assets/sj.jpg'); background-size: var(--bg-size);">
                  </div>
                  <div class="col-9">
                    <h3>Steve Jobs</h3>
                    <p class="text-capitalize">Apple</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- advertise -->
            <!-- <div class=" right_div_post">
              <div class="right_div__title py-4 pl-2 ">
                <h2>Advertise</h2>
              </div>
              <div class="right_sub__div ">
                <div class="adevetise_img bg-light shadow">
                  <p>Ads goes here</p>
                </div>
              </div>
            </div> -->
            <!-- tags -->
            <div class=" right_div_post">
              <div class="right_div__title py-4 pl-2 ">
                <h2>Tags</h2>
              </div>
              <div class="tags_main right_sub__div">
                <a href="https://youtu.be/5p8e2ZkbOFU" target="_thapa" class="badge shadow text-capitalize"> html </a>
                <a  class="badge shadow text-capitalize"> css </a>
                <a  class="badge shadow text-capitalize"> js </a>
                <a  class="badge shadow text-capitalize"> react </a>
                <a  class="badge shadow text-capitalize"> vue </a>
                <a  class="badge shadow text-capitalize"> php </a>
                <a  class="badge shadow text-capitalize"> python </a>
                <a  class="badge shadow text-capitalize"> kotlin </a>
                <a  class="badge shadow text-capitalize"> c++ </a>
                <a  class="badge shadow text-capitalize"> node</a>
              </div>
            </div>
            <!-- Inspiration -->
            <!-- <div class=" right_div_post">
              <div class="right_div__title py-4 pl-2 ">
                <h2>Inspiration</h2>
              </div>
              <div class="right_sub__div">
                <div class="row gx-3">
                  <div class="col-6">
                    <figure>
                      <img
                        src="https://images.pexels.com/photos/196659/pexels-photo-196659.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                        class="img-fluid shadow">
                    </figure>
                  </div>
                  <div class="col-6">
                    <figure>
                      <img
                        src="https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        class="img-fluid shadow">
                    </figure>
                  </div>
                  <div class="col-6">
                    <figure>
                      <img
                        src="https://images.pexels.com/photos/38547/office-freelancer-computer-business-38547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        class="img-fluid shadow">
                    </figure>
                  </div>
                  <div class="col-6">
                    <figure>
                      <img
                        src="https://images.pexels.com/photos/196659/pexels-photo-196659.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                        class="img-fluid shadow">
                    </figure>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- Follow Me -->
            <div class=" right_div_post">
              <div class="right_div__title py-4 pl-2 ">
                <h2>Follow Me</h2>
              </div>
              <div class="right_sub__div d-flex justify-content-around">
                <a > <i class="fab fa-facebook-square fa-3x"></i></a>
                <a href="https://www.instagram.com/vinodthapa55/" target="_thapa"> <i
                    class="fab fa-3x fa-instagram"></i></a>
                <a > <i class="fab fa-3x fa-github-square"></i> </a>
                <a > <i class="fab fa-3x fa-twitter-square"></i></a>
                <a > <i class="fab fa-3x fa-youtube-square"></i> </a>
                <a > <i class="fab fa-3x fa-linkedin"></i></a>
              </div>
            </div>
            <!-- Subscribe -->
            <div class=" right_div_post">
              <div class="right_div__title py-4 pl-2 ">
                <h2>Subscribe</h2>
              </div>
              <div class="right_sub__div">
                <form>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Enter your e-mail
                      below and get notified on the latest blog posts.</label>
                    <input type="email" class="form-control mt-2" id="exampleFormControlInput1"
                      placeholder="name@example.com">
                  </div>
                  <div class="col-12">
                    <button class="subs_btn d-block" type="submit">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Footer layout-->
<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://userblogs.netlify.app/#/home">userBlogs.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!--Footer layout ends-->


<!--Main layout ends-->
